{% extends './layouts/base.html' %}

{% block  content %}
<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae obcaecati repellendus ducimus eaque deserunt et ipsa ex iste quia quis, dolor, aspernatur dignissimos iusto temporibus sint, delectus aut quaerat vitae officia! Nihil assumenda voluptate consequuntur corrupti, ab quia aliquid vitae velit odit. Quas animi nihil distinctio quod dolore fugiat quis beatae, quo culpa hic corrupti atque, rem maiores ipsa, sit dolores pariatur. Laboriosam, quasi odio mollitia soluta similique in laborum vitae, quam recusandae, nam praesentium impedit rerum sequi quas perspiciatis magni itaque ipsam aspernatur sint consequatur. Dicta quis harum consectetur adipisci velit. Nam quis labore neque fuga eius. Ab, officiis?</p>

{% endblock  %}


